/*个人中心公共*/
.w{
	background: #F5F5F5;
}
.w1200{
	margin: 0 auto 0;
}
.mt190{
	margin-top: 190px;
}
.zx-top{
	width: 100%;
	height: 320px;
	background-image: url(../img/zx_back.jpg);
	background-size: 100% 100%;
}
.top-personl{
	padding: 10px 30px 0;
	overflow: hidden;
}
.top-personl>.fl{
	display: inline-block;
	width: 104px;
	height: 28px;
	color: #fff;
	font-size: 14px;
	background: rgba(0,0,0,0.2);
	text-align: center;
	line-height: 28px;
}
.top-personl>.fl>i{
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../img/icon_center_common.png) no-repeat -58px 0;
	margin-bottom: -3px;
	margin-right: 10px;
}
.top-personl>.fr{
	display: inline-block;
	width: 58px;
	height: 28px;
	background: url(../img/icon_center_common.png) no-repeat 0 0;
}
.bg-btn{
	right: 6px;
    top: 40px;
	width: 104px;
	height: 37px;
	color: #333;
	font-size: 12px;
	line-height: 47px;
	text-align: center;
	background: url(../img/icon_center_common.png) no-repeat 0 -73px;
}
.bg-btn>i{
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-right: 13px;
	margin-bottom: -1px;
	background: url(../img/icon_center_common.png) no-repeat -92px 0;
}
.top-msg,.personl-msg{
	overflow: hidden;
}
.top-msg>li,.personl-msg>li{
	float: left;
	width: 125px;
	color: #fff;
	text-align: center;
}
.top-msg>li>h4,.personl-msg>li>h4{
	font-size: 18px;
}
.top-msg>li>h5,.personl-msg>li>h5{
	font-size: 12px;
}
.top-msg>b,.personl-msg>b{
	display: inline-block;
	width: 1px;
	height: 30px;
	background-color: #fff;
	float: left;
	margin-top: 5px;
}
.personl-name{
	overflow: hidden;
	text-align: center;
}
.personl-img{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background: rgba(255,255,255,0.2);
	padding: 5px;
	/*text-align: center;*/
	margin: 0 auto;
}
.personl-img>img{
	width: 110px;
	height: 110px;
	border-radius: 50%;
}
.personl-name>h4{
	color: #FFFFFF;
	font-size: 16px;
	margin-top: 20px;
}
.personl-name>h5{
	color: #FFFFFF;
	font-size: 12px;
	margin-top: 5px;
}
.subject-lf{
	width: 200px;
	background: #fff;
}
.subject-lf>h3{
	font-size: 24px;
	color: #F07C00;
	text-align: center;
	line-height: 24px;
	padding: 10px 0 10px;
	border-bottom: 1px solid #F5F5F5;
}
.zx-contents>li{
	border-bottom: 1px solid #F5F5F5;
	padding-left: 30px;
	padding-bottom: 18px;
	padding-top: 20px;
}
.zx-contents>li>h2{
	color: #333;
	font-size: 16px;
}
.zx-contents>li>h2>i{
	display: inline-block;
}
i.xiaoxi{	
	width: 16px;
	height: 15px;
	margin-top: 3px;
	background: url(../img/icon_center_common.png) no-repeat 0 -28px;
}
.zx-contents>li>h2>b{
	display: inline-block;
	width: 12px;
	height: 6px;
	background: url(../img/icon_center_common.png) no-repeat 0 -67px;
}
.zx-contents>li>h2>b.active{
	background-position: 0 -61px ;
}
i.jiaoyi{	
	width: 16px;
	height: 16px;
	margin-top: 3px;
	background: url(../img/icon_center_common.png) no-repeat -16px -28px;
}
i.dingyue{	
	width: 15px;
	height: 17px;
	margin-top: 3px;
	background: url(../img/icon_center_common.png) no-repeat -32px -28px;
	margin-right: 9px;
}
i.qianbao{	
	width: 18px;
	height: 14px;
	margin-top: 3px;
	background: url(../img/icon_center_common.png) no-repeat -47px -28px;
	margin-right: 8px;
}
i.jifen{	
	width: 17px;
	height: 17px;
	margin-top: 3px;
	background: url(../img/icon_center_common.png) no-repeat -65px -28px;
	margin-right: 9px;
}
i.youhui{	
	width: 16px;
	height: 16px;
	margin-top: 3px;
	background: url(../img/icon_center_common.png) no-repeat -82px -28px;
}
i.neirong{	
	width: 16px;
	height: 16px;
	margin-top: 3px;
	background: url(../img/icon_center_common.png) no-repeat 0 -45px;
}
i.zhanghu{	
	width: 16px;
	height: 16px;
	margin-top: 3px;
	background: url(../img/icon_center_common.png) no-repeat -16px -45px;
}
.two-list>li{
	padding-left: 26px;
	padding-top: 15px;
}
.two-list>li.active a{
	color: #F07C00;
}
.two-list>li>a{
	color: #666;
	font-size: 14px;
	line-height: 14px;
}
.two-list>li>a:hover{
	color: #F07C00;
}
.zx-subject{
	overflow: hidden;
	margin-top: 50px;
}
.subject-rg{
	background: #fff;
	width: 980px;
	float: right;
}

/*1.1*/
.personl-name>h5.active,.personl-msg>li>h4.active{
	color: #f07c00;
}
h2.msg-name{
	font-size: 18px;
	color: #F07C00;
	line-height: 18px;
	padding: 20px 0 10px;
	border-bottom: 1px solid #F5F5F5;
	padding-left: 30px;
}
.system-list{
	padding-left: 30px;
	padding-right: 30px;
}
.system-list>li{
	padding: 30px 0;
	border-bottom: 1px solid #F5F5F5;
	position: relative;
}
.system-list>li h4{
	color: #999;
	font-size: 12px;
	line-height: 12px;
}
.system-list>li h5{
	color: #666;
	font-size: 12px;
	line-height: 12px;
}
.system-list>li h6{
	color: #666;
	font-size: 12px;
	line-height: 12px;
}
.system-list>li h6>span{
	color: #4a9cf2;
}
.system-list>li>span{
	color: #666;
	font-size: 12px;
	line-height: 12px;
	top: 30px;
	right: 15px;
	position: absolute;
}
.system-msg>img{
	display: block;
	margin: 80px auto 0;
}
.system-msg>h3{
	font-size: 16px;
	color: #666;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 245px;
}
/*1.2*/
.my-commen>h2>span{
	font-size: 14px;
	color: #666;
	margin-right: 50px;
}
.my-commen>h2>span>i{
	display: inline-block;
	width: 8px;
	height: 6px;
	background: url(../img/icon_center_common.png) no-repeat -98px -61px;
	margin-left: 10px;
}
.commen-list{
	padding: 0 50px 0 30px;
}
.commen-list>li{
	overflow: hidden;
	padding: 30px 0 20px;
	border-bottom: 1px solid #F5F5F5;
	position: relative;
}
.commen-list>li>img{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	float: left;
}
.list-rg{
	width: 810px;
}
.list-rg>h2{
	font-size: 12px;
	color: #999;
}
.list-rg>h2>span{
	color: #4a9bf2;
	font-size: 16px;
	margin-right: 15px;
}
.list-rg>h3{
	font-size: 14px;
	color: #666;
	margin-top: 8px;
}
.list-rg>h4{
	height: 32px;
	line-height: 32px;
	background-color: #F5F5F5;
	font-size: 14px;
	color: #999;
	padding-left: 10px;
	margin-top: 8px;
}
.list-rg>h4>span{
	color: #333;
}
.list-rg>a{
	color: #999;
	font-size: 14px;
	position: absolute;
	top: 30px;
	right: 0;
}
.two-comment{
	margin-top: 20px;
	position: relative;
}
.two-comment>textarea{
	width: 100%;
	height: 60px;
	border: 1px solid #DEDEDE ;
	font-size: 12px;
	color: #999;
	padding: 5px 10px;
}
.two-comment>h4{
	overflow: hidden;
	margin-top: 10px;
}
.two-comment>h4>span{
	font-size: 12px;
	color: #999;
	padding-top: 10px;
	margin-left: 10px;
}
.two-comment>h4>span>i{
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../img/icon_center_common.png) no-repeat 0 -132px;
	margin-right: 10px;
	margin-bottom: -3px;
}
.two-comment>h4>a{
	display: inline-block;
	width: 70px;
	height: 28px;
	line-height: 28px;
	background: #F07C00;
	color: #fff;
	font-size: 16px;
	text-align: center;
}
.two-comment>span{
	display: inline-block;
	width: 20px;
	height: 11px;
	background: url(../img/top.jpg);
	position: absolute;
    top: 101px;
    left: 8px;
}
.face-list{
	border: 1px solid #e2e2e2;
	max-width: 570px;
	height: auto;
	margin-top: 13px;
	padding: 0px 0 10px;
}
.replay-list{
	margin-top: 20px;
	margin-left: 20px;
}
.replay-list>li{
	padding: 4px 13px 0 15px;
}
.replay-list>li.active{
	background: #fcfcfc;
	padding-top: 10px;
}
.replay-list>li>h4{
	font-size: 12px;
	line-height: 12px;
	color: #333;
}
.replay-list>li>h4>span{
	color: #5e9bec ;
}
.replay-list>li>h5{
	overflow: hidden;
}
.replay-list>li>h5{
	font-size: 12px;
	color: #999;
	margin-top: 5px;
}
.replay-list>li>h5>a{
	color: #666;
	margin-left: 20px;
}
.replay-list>li>h5>a>i{
	margin-bottom: -2px;
}
i.hf{
	display: inline-block;
	width: 19px;
	height: 15px;
	background: url(../img/icon_center_common.png) -18px -132px;
}
i.zan{
	display: inline-block;
	width: 14px;
	height: 15px;
	background: url(../img/icon_center_common.png) -37px -132px;
}
.replay-list>li>i{
	display: inline-block;
	width: 762px;
	height: 1px;
	background-color: #DEDEDE;
	margin-bottom: 6px;
	margin-top: 15px;
}
.commen-list>li:last-child{
	border-bottom: 0;
	padding-bottom: 40px;
}
/*1.3*/
.letter-list{
	padding: 0 50px 30px 30px;
}
.letter-list>li{
	overflow: hidden;
	padding: 30px 0 20px;
	border-bottom: 1px solid #F5F5F5;
}
.letter-list>li>img{
	width: 70px;
	height: 70px;
}
.letter-rg{
	width: 810px;
}
.letter-rg>h4{
	color: #666;
	font-size: 16px;
	margin-top: 20px;
}
.letter-rg>h3{
	font-size: 12px;
	color: #666;
}
.letter-rg>h3>a{
	font-size: 16px;
	color: #4a9bf2;
	margin-right: 15px;
}
.letter-rg>h3>span{
	color: #999;
	margin-left: 30px;
}
.letter-rg>h5{
	font-size: 16px;
	color: #666;
	line-height: 24px;
	position: absolute;
	top: 15px;
	right: 0;
}
.letter-rg>h5>i{
	display: inline-block;
	width: 2px;
	height: 24px;
	background-color: #DEDEDE;
	margin: 0 30px -6px;
}
.mask{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	left: 0;
}
.letter-popup{
	position: fixed;
	top: 0;
	left: 0;
	width: 600px;
	background: #fff;
	border-radius: 5px;
}
.popup-title{
	height: 60px;
	width: 100%;
	background-color: #F5F5F5;
	text-align: center;
	line-height: 60px;
	font-size: 20px;
	color: #333;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom: 1px solid #DEDEDE;
}























