/*个人中心公共*/
.w{
	background: #F5F5F5;
}
.w1200{
	margin: 0 auto 0;
}
.mt190{
	margin-top: 190px;
}
.zx-top{
	width: 100%;
	height: 320px;
	background-image: url(../img/zx_back.jpg);
	background-size: 100% 100%;
}
.top-personl{
	padding: 10px 30px 0;
	overflow: hidden;
}
.top-personl>.fl{
	display: inline-block;
	width: 104px;
	height: 28px;
	color: #fff;
	font-size: 14px;
	background: rgba(0,0,0,0.2);
	text-align: center;
	line-height: 28px;
}
.top-personl>.fl>i{
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../img/icon_center_common.png) no-repeat -58px 0;
	margin-bottom: -3px;
	margin-right: 10px;
}
.top-personl>.fr{
	display: inline-block;
	width: 58px;
	height: 28px;
	background: url(../img/icon_center_common.png) no-repeat 0 0;
}
.bg-btn{
	right: 107px;
    top: 40px;
	width: 104px;
	height: 37px;
	color: #333;
	font-size: 12px;
	line-height: 47px;
	text-align: center;
	background: url(../img/icon_center_common.png) no-repeat 0 -73px;
}
.bg-btn>i{
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-right: 13px;
	margin-bottom: -1px;
	background: url(../img/icon_center_common.png) no-repeat -92px 0;
}
.top-msg,.personl-msg{
	overflow: hidden;
}
.top-msg>li,.personl-msg>li{
	float: left;
	width: 125px;
	color: #fff;
	text-align: center;
}
.top-msg>li>h4,.personl-msg>li>h4{
	font-size: 18px;
}
.top-msg>li>h5,.personl-msg>li>h5{
	font-size: 12px;
}
.top-msg>b,.personl-msg>b{
	display: inline-block;
	width: 1px;
	height: 30px;
	background-color: #fff;
	float: left;
	margin-top: 5px;
}
.personl-name{
	overflow: hidden;
	text-align: center;
}
.personl-img{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background: rgba(255,255,255,0.2);
	padding: 5px;
	/*text-align: center;*/
	margin: 0 auto;
}
.personl-img>img{
	width: 110px;
	height: 110px;
	border-radius: 50%;
}
.personl-name>h4{
	color: #FFFFFF;
	font-size: 16px;
	margin-top: 20px;
}
.personl-name>h5{
	color: #FFFFFF;
	font-size: 12px;
	margin-top: 5px;
}
.subject-lf{
	width: 200px;
	background: #fff;
}
.subject-lf>h3{
	font-size: 24px;
	color: #F07C00;
	text-align: center;
	line-height: 24px;
	padding: 11px 0 12px;
	border-bottom: 1px solid #F5F5F5;
}
.zx-contents>li{
	border-bottom: 1px solid #F5F5F5;
	padding-left: 30px;
	padding-bottom: 18px;
	padding-top: 20px;
}
.zx-contents>li>h2{
	color: #333;
	font-size: 16px;
}
.zx-contents>li>h2>i{
	display: inline-block;
}
i.xiaoxi{	
	width: 16px;
	height: 15px;
	margin-top: 3px;
	background: url(../img/icon_center_common.png) no-repeat 0 -28px;
}
.zx-contents>li>h2>b{
	display: inline-block;
	width: 12px;
	height: 6px;
	background: url(../img/icon_center_common.png) no-repeat 0 -67px;
}
.zx-contents>li>h2>b.active{
	background-position: 0 -61px ;
}
i.jiaoyi{	
	width: 16px;
	height: 16px;
	margin-top: 3px;
	background: url(../img/icon_center_common.png) no-repeat -16px -28px;
}
i.dingyue{	
	width: 15px;
	height: 17px;
	margin-top: 3px;
	background: url(../img/icon_center_common.png) no-repeat -32px -28px;
	margin-right: 9px;
}
i.qianbao{	
	width: 18px;
	height: 14px;
	margin-top: 3px;
	background: url(../img/icon_center_common.png) no-repeat -47px -28px;
	margin-right: 8px;
}
i.jifen{	
	width: 17px;
	height: 17px;
	margin-top: 3px;
	background: url(../img/icon_center_common.png) no-repeat -65px -28px;
	margin-right: 9px;
}
i.youhui{	
	width: 16px;
	height: 16px;
	margin-top: 3px;
	background: url(../img/icon_center_common.png) no-repeat -82px -28px;
}
i.neirong{	
	width: 16px;
	height: 16px;
	margin-top: 3px;
	background: url(../img/icon_center_common.png) no-repeat 0 -45px;
}
i.zhanghu{	
	width: 16px;
	height: 16px;
	margin-top: 3px;
	background: url(../img/icon_center_common.png) no-repeat -16px -45px;
}
.two-list>li{
	padding-left: 26px;
	padding-top: 15px;
}
.two-list>li.active a{
	color: #F07C00;
}
.two-list>li>a{
	color: #666;
	font-size: 14px;
	line-height: 14px;
}
.two-list>li>a:hover{
	color: #F07C00;
}
.zx-subject{
	overflow: hidden;
	margin-top: 50px;
}


















